<% if flash[:error] %>
  <li><%= flash[:error] %></li>
<% end %>

<%= image_tag get_random_image, style: 'width:100%; height:100%'%>


<div class="signup">
  <%= form_tag "/new_account" do %>
    <div id="name">
      <%= label_tag("name") %>
    </div>
    <div id="nametag">
      <%= text_field_tag("user[name]") %>
    </div>

    <div id="gender">
      <%= label_tag("gender") %>
    </div>
    <div id="gendertag">
      <%= text_field_tag("user[gender]") %>
    </div>

    <div id="age">
      <%= label_tag("age") %>
    </div>
    <div id="agetag">
      <%= number_field_tag("user[age]") %>
    </div>

    <div id="email_signup">
      <%= label_tag("email") %>
    </div>
    <div id="email_signup_tag">
      <%= text_field_tag("user[email]") %>
    </div>

    <div id="username">
      <%= label_tag("username") %>
    </div>
    <div id="usernametag">
      <%= text_field_tag("user[username]") %>
    </div>

    <div id="password_signup">
      <%= label_tag("password") %>
    </div>
    <div id="password_signup_tag">
      <%= password_field_tag("user[password]") %>
    </div>

    <div id="createbutton">
      <%= submit_tag "Sign Up"%>
      <%# submit_tag("Create Account", :style => "width:100px; color:rgb(250, 250, 250); outline:0; background-color:rgba(0, 0, 0, .8); display:flex") %>
    </div>
    <div id="signup_login">
      <%= link_to '<button type="button">Log in</button>'.html_safe, login_path %>
    </div>

<% end %>
</div>
