<h2> All Animes </h2>

<%@animes.each do |anime| %>
<%= anime.title %> <br />
<%= anime.episodes %>
<%= anime.seasons %>
<%= anime.release_date %>
<%end  %>


<% if @animes.blank? %>
  <h4>There are no animes containing the term <%= params[:search] %>.</h4>
<% end %>
