<div class="banner">
<%= image_tag "thumb-1920-856712.jpg" %>
<div class="layer">
  Anime At your finger tips
</div>
</div
<div class="side-options">
options
</div>
<div class="main-body">
<h2> All Animes </h2>

<%@animes.each do |anime| %>
<%= anime.title %> <br />
<%= anime.episodes %>
<%= anime.seasons %>
<%= anime.release_date %>
<%end  %>
</div>
