<div class="body-main-wrapper">
  <div class="upper-wrapper">
    <% unless @genre.nil? %>
      <div class="genre">
        <h2>Genre: <%= @genre.name %></h2>
      </div>
      <% end %>
    <div class="list">
      <% if @animes.blank? %>
        <h2>No animes containing the term <%= params[:search] %>.</h2>
      <% else %>
      <% count = 1 %>
      <% if session[:page] != 1 %>
        <% (session[:page] - 1).times do %>
        <% count += 50 %>
        <% end %>
        <% end %>
    <%@animes.each do |anime| %>
    <a href="<%= anime_path(anime) %>"><div class="user-anime-wrapper">
      <div class="count"><%= count %>
        <% count += 1 %></div>
      <div class="user-anime-wrapper-picture">
        <% if !anime.image.blank? %>
      <img src="<%= anime.image.split('"')[1] %>"> </img>
      <% else %>
      <img src="/assets/no_img.png"></img>
      <% end %>
        </div>
        <div class="title">
        <%= anime.title%>
        <div class="des">
          <% if anime.episodes %>
            <%= anime.episodes %> Episodes
          <br />
          <% end %>
        <%if anime.episode_duration  %>
         Run time: <%= anime.episode_duration %>
        <% end %>
      </div>
        </div>
        <div class="score">
          <% if anime.score != 0 %>
            <%= anime.score %>
          <% else %>
            N/A
          <% end %>
        </div>
        </div>
        </a>
    <% end  %>
    <% end %>
    </div>
    <% if @animes.blank? %>
    <h5>No animes containing the term <%= params[:search] %>.</h5>
    <% end %>
    <div>
      <a href="/animes/back">Back</a>
      <p><%= session[:page] %></p>
      <a href="/animes/next">Next</a>
      </div>
  </div>
</div>
