<h2> Anime </h2>

<h3>Title: <%= @anime.title %> <br></h3>
Episode: <%= @anime.episodes %><br>
Season: <%= @anime.seasons %><br>
Running Time: <% @anime.episode_duration %><br>
Release Date: <%= @anime.release_date %><br>
Summary: <%= @anime.summary %><br>
