<div class="body-main-wrapper">
  <div class="upper-wrapper">
    <div class="list">
      <% count = 1 %>
    <%@animes.each do |anime| %>
    <a href="<%= anime_path(anime) %>"><div class="user-anime-wrapper">

      <div class="count"><%= count %>
        <% count += 1 %></div>
      <div class="user-anime-wrapper-picture">
        <% if !anime.image.blank? %>
      <img src="<%= anime.image.split('"')[1] %>"> </img>
      <% else %>
      <img src="/assets/no_img.png"></img>
      <% end %>
        </div>
        <div class="title">
        <%= anime.title%>
        <div class="des">
          <% if anime.episodes %>
            <%= anime.episodes %> Episodes
          <br />
          <% end %>
        <%if anime.episode_duration  %>
         Run time: <%= anime.episode_duration %>
        <% end %>
      </div>
        </div>
        <div class="score">
          <% if anime.score != 0 %>
            <%= anime.score %>
          <% else %>
            N/A
          <% end %>
        </div>
        </div>
        </a>
    <% end  %>
    </div>
  </div>
</div>
