<!DOCTYPE html>
<html>
  <head>
    <title>AnimeList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="icon" href="/assets/logo.png">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'user', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'sessions', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <% if session[:user] == nil %>
      <div class="dropdown">
        <a href="/login"><button class="dropbtn">Log In</button></a>
        </div>
      <% else %>
      <div class="dropdown">
        <a href="/users/<%= session[:user] %>"><button class="dropbtn" ><%= User.find_by(id: session[:user]).username %></button></a>
          <div class="dropdown-content">
            <a href="/users/<%= session[:user] %>">Account</a>
            <a href="/list">Anime List</a>
            <a href="/users/<%= session[:user] %>">Account setting</a>
            <a href="/log_out">Log Out</a>
        </div>
      </div>
      <% end %>
      <div class="header-button">
        <a href="/home"><img src="/assets/logo.png" onmouseover="this.src='/assets/logo-hover.png'" onmouseout="this.src='/assets/logo.png'"></img></a>
      </div>
        <div class="header-button">
          <a href="/animes"><button class="dropbtn">Browse</button></a>
        </div>
        <div class="header-button">
          <a href=""><button class="dropbtn">About</button></a>
        </div>
        <div class="search">
        <%= form_tag(animes_path, method: :get, id: "search-form") do %>
          <label for="search"> <i class="fas fa-search"></i> </label>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", :name => nil %>
          <% end %>
          </div>
      </div>
      <div class="info-tag">
        <% if !@user.nil? %>
        <% end %>
      </div>

      <div class="body">
    <%= yield %>
    </div>
  </body>
</html>
