<!DOCTYPE html>
<html>
  <head>
    <title>AnimeList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header"></div>
    <%= yield %>

    <%= form_tag(animes_path, method: :get, id: "search-form") do %>
      <%= text_field_tag :search, params[:search], "Search Anime" %>
      <%= submit_tag "Search", :name => nil %>
    <% end %>

  </body>
</html>
